<h3>Product Information</h3>
<a href="/products">Back Home   </a> 
<p>
	Product name:  <%= @product.name %>
</p>
<p>
	Description: <br>
	<%= @product.description %>
</p>
<p>
	Price: <%= @product.pricing %>
</p>
<a href="<%= @product.id %>/edit">Edit</a>
<p><a href="/products">Index</a></p>



